<a href="https://colab.research.google.com/github/Rizkirz/gcolab1/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SUFFIX AND PREFIX

In [1]:
import pandas as pd
import numpy as np

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE') #convert string ke tuple

df = pd.DataFrame(np.random.randint(1,10, size=(n_rows, n_cols)),
                  columns = cols)
df

   A  B  C  D  E
0  4  2  4  2  9
1  7  9  9  1  9
2  9  4  6  7  7
3  2  2  9  3  4
4  9  3  3  1  1

In [3]:
df.add_prefix('kolom_') #didepan

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        4        2        4        2        9
1        7        9        9        1        9
2        9        4        6        7        7
3        2        2        9        3        4
4        9        3        3        1        1

In [4]:
df.add_suffix('_field') #belakang

   A_field  B_field  C_field  D_field  E_field
0        4        2        4        2        9
1        7        9        9        1        9
2        9        4        6        7        7
3        2        2        9        3        4
4        9        3        3        1        1

# Selection OP

In [5]:
import pandas as pd
import numpy as np

In [6]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE') #convert string ke tuple

df = pd.DataFrame(np.random.randint(1,5, size=(n_rows, n_cols)),
                  columns = cols)
df

   A  B  C  D  E
0  1  2  4  2  4
1  4  1  1  2  2
2  3  4  4  4  1
3  4  4  2  2  4
4  1  1  3  1  4
5  2  4  2  2  1
6  1  3  4  2  3
7  1  4  3  4  1
8  4  4  3  4  3
9  4  3  3  4  1

In [7]:
#Selection dengan operator logika OR |
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  1  2  4  2  4
2  3  4  4  4  1
4  1  1  3  1  4
6  1  3  4  2  3
7  1  4  3  4  1

In [8]:
#selection isin 
df[df['A'].isin([1,3])]

   A  B  C  D  E
0  1  2  4  2  4
2  3  4  4  4  1
4  1  1  3  1  4
6  1  3  4  2  3
7  1  4  3  4  1

In [9]:
#negasi (~) kebalikan isin 
df[~df['A'].isin([1,3])]

   A  B  C  D  E
1  4  1  1  2  2
3  4  4  2  2  4
5  2  4  2  2  1
8  4  4  3  4  3
9  4  3  3  4  1

# Konversi string ke numerik

In [10]:
import pandas as pd

In [11]:
data = {'col1': ['1', '2', '3', 'abc'],
        'col2':['1', '2', '3','4']}
df = pd.DataFrame(data)
df

  col1 col2
0    1    1
1    2    2
2    3    3
3  abc    4

In [12]:
df.dtypes

col1    object
col2    object
dtype: object

In [13]:
#Konversi tipe data dengan fungsi .astype()
df_x = df.astype({'col2' : 'int'})
df_x

  col1  col2
0    1     1
1    2     2
2    3     3
3  abc     4

In [14]:
df_x.dtypes

col1    object
col2     int64
dtype: object

In [15]:
df.apply(pd.to_numeric, errors='coerce')
#coerce = ketika mengconversi ke numerik terdapat data yang tidak bisa di konversi ke numerik data tersebut menjadi NaN

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4